.actions {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 13px;

    > button {
        cursor: pointer;
        padding: 2px;
        background: transparent;
        border: none;
    }

    #disabled {
        opacity: .5;
        cursor: not-allowed;
    }
}

.icon {
    width: 25px;
    height: 25px;

    color: #ffffff;
}